.container {
  background: var(--shape);
  height: 4rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 7%);
}

.content {
  height: 100%;
  max-width: 1200px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;
  margin: 0 auto;
}

img.logo {
  height: 2.5rem;
}

.containerButtons {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    display: flex;
    align-items: center;

    padding: .5rem;

    border: 0;
    border-radius: 0.5rem;
    
    font-size: 0.75rem;

    background: transparent;
    color: #fff;

    transition: .3s color;

    &:hover {
      color: #c2c2c2;
    }

  }
}


button.buttonWithIcon {
  padding: 0;
  border-radius: 100%;
  background: #949494;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #FFF;
  position: relative;
  height: 2rem;
  overflow: hidden;
  width: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

button.buttonBadge {
  position: relative;
  padding: 0.5rem;
  svg {
    padding-right: 0rem;
  }

  div.active {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 100%;
    background: rgb(29, 29, 29);

    span {
      font-size: 0.7rem;
    }
  }
}