.container {
  background: var(--shape);
  height: 4rem;
}

.content {
  height: 100%;
  max-width: 1120px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;
  margin: 0 auto;
}

img.logo {
  height: 2.5rem;
}

.containerButtons {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    display: flex;
    align-items: center;

    padding: 0.5rem 1rem;

    border: 0;
    border-radius: 0.5rem;
    border: 1.5px solid #fff;
    
    font-size: 0.75rem;

    background: #161116;
    color: #fff;

    transition: .5s background,color;

    &:hover {
      background: #fff;
      color: #161116;
    }

  }
}


button.buttonWithIcon {
  span {
    padding-left: 0.5rem;
  }
}

button.buttonBadge {
  position: relative;
  padding: 0.5rem;
  svg {
    padding-right: 0rem;
  }

  div.active {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 100%;
    background: rgb(29, 29, 29);

    span {
      font-size: 0.7rem;
    }
  }
}